.card {
  font-size: min(1.2rem, 3vw, 2vh);
  font-weight: bold;
  color: inherit;
  background: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  border: 3px solid #b7f8e21c;
  border-radius: 4px;
  overflow: hidden;
  transition: border 0.3s ease;
}

.card:hover,
.card:focus {
  cursor: pointer;
  outline: none;
  border-color: #50f8c0;
}

.cardImage {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
