.card {
  color: inherit;
  background: none;
  padding: 0;
  overflow: hidden;
  border: 3px solid #b7f8e21c;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.card:hover,
.card:focus {
  cursor: pointer;
  outline: none;
  border-color: #50f8c0;
}

.cardImage {
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.cardText {
  display: block;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
