.cardContainer {
  max-width: 640px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem 0;
}

@media screen and (max-width: 700px) {
  .cardContainer {
    height: 88vw;
    margin: 0.5rem auto;
  }
}
