.cardContainer {
  max-width: 70vh;
  height: min(88vw, 65vh);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem 0;
}

@media screen and (max-height: 600px) {
  .cardContainer {
    margin: 0.5rem auto;
  }
}
